<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzrd.security.core.mapper.CheckEntryMapper">

    <!-- 根据检查表ID获取检查条目信息 -->
    <select id="getEntriesBySheetId" resultType="checkEntry" parameterType="int">
        SELECT
            check_entry.id entry_id,
            check_entry.sheet_id,
            check_entry.`name` entry_name,
            check_entry.frequency,
            check_entry.department,
            check_entry.object_type_id,
            object_type.`name` object_type_name,
            check_entry.order_no
        FROM
            check_entry
                INNER JOIN object_type ON check_entry.object_type_id = object_type.id
        WHERE
            check_entry.sheet_id = #{sheetId}
        ORDER BY
            check_entry.order_no ASC
    </select>

</mapper>