<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../../../layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <script src="../../../../../layui/layui.js"></script>
    <script src="../../../../../layui/layui.all.js"></script>
</head>
<style>
    .layui-collapse{
        width: 85%;
        height: 85%;
        margin-top: 3%;
        margin-left: 5%;
        padding-top: 25px;
        padding-right: 20px;
    }

</style>
<body>
<div class="layui-collapse">
    <form class="layui-form" action="" lay-filter="password-update-form" id="password-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">原密码：</label>
            <div class="layui-input-block">
                <input type="password" name="oldPassword" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">新密码：</label>
            <div class="layui-input-block">
                <input type="password" name="newPassword" minlength="6" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">密码确认：</label>
            <div class="layui-input-block">
                <input type="password" name="confirmPassword" minlength="6" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center">
            <button class="layui-btn layui-btn-normal" lay-submit
                    lay-filter="update-submit" id="updatePwd">
                确认修改
            </button>
        </div>
    </form>
</div>

<script data-th-inline="javascript" type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var $ = layui.$,
            form = layui.form,
            layer = layui.layer;

        form.render();

        form.on('submit(update-submit)', function (data) {
            if (data.field.newPassword !== data.field.confirmPassword) {
                layer.msg('两次密码输入不一致！');
                return false;
            }
            $.post('/user/password/update', data.field, function (r) {
                if (r.code == 3001){
                    layer.msg(r.msg);
                    // 清空表单
                    $("#password-update-form")[0].reset();
                    form.render();
                }
                else {
                    layer.msg('密码修改成功，请重新登录',{icon:1}, function () {
                        // //获取窗口索引
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.window.location.href="/login"
                    });
                }

            });
            return false;
        });

        $('#password-update-form').on('keydown', function (e) {
            if (e.keyCode === 13) {
                $('#updatePwd').click();
            }
        });
    });
</script>
</body>
</html>